<!DOCTYPE html>
<html>
<head>
  <title>TireDB - High Performance Tire Search</title>
  <%= stylesheet_link_merged(:base).html_safe %>
  <%= javascript_include_merged(:base).html_safe %>
  <%= csrf_meta_tag %>
  <meta name="description" content="TireDB is the most advanced way to search for high performance tires." />
  <meta name="keywords" content="advanced,performance,tire,search,finder" />
</head>
<body>
  <%= yield %>
</body>
</html>
